
.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  * {
  
    box-sizing: border-box;
    
    }
    
    body {
    
    background-color: #f4f4f9;
    
    display: flex;
    
    justify-content: center;
    
    align-items: center;
    
    height: 100vh;
    
    }
    
    .container {
    
    background: #fff;
    
    padding: 20px;
    
    border-radius: 8px;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    
    width: 400px;
    
    text-align: center;
    
    }
    
    table {
    
    width: 100%;
    
    border-collapse: collapse;
    
    margin-bottom: 20px;
    
    }
    
    thead {
    
    background-color: #4caf50;
    
    color: white;
    
    }
    
    th, td {
    
    padding: 10px;
    
    border: 1px solid #ddd;
    
    }
    
    .inputDiv {
    
    display: flex;
    
    }
    
    input[type="text"] {
    
    padding: 10px;
    
    width: 70%;
    
    border: 1px solid #ccc;
    
    border-radius: 4px;
    
    margin-right: 10px;
    
    }
    
    button {
    
    padding: 10px;
    
    background-color: #4caf50;
    
    color: white;
    
    border: none;
    
    border-radius: 4px;
    
    cursor: pointer;
    
    }
    
    button:hover {
    
    background-color: #45a049;
    
    }
    
    h1 {
    
    color: #4caf50;
    
    margin-bottom: 20px;
    
    }